Repository ricardomfmsousa/my-vcard: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    typecheck:
      run: yarn tsc --noEmit
    format:
      glob: "*.{md,js,ts,jsx,tsx,json,yml}"
      run: npx prettier --check {staged_files}
    translations:
      run: node scripts/verify-translations.js

Add gatsby-browser
  tsconfig.json
Due: format

Add light and dark theme switching feature
  gatsby-browser.tsx
  src/components/Layout/Header/Header.tsx
  src/components/Sections/Intro/Intro.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.stories.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/context/ThemeContext.tsx
  src/images/intro-dark-background.jpg
  src/images/intro-light-background.jpg
  src/styles/overrides.ts
  src/styles/theme.ts
Due: lint, format

Fix word capitalization
  src/components/Sections/About/About.tsx
Due: lint, format

Remove google analytics plugin
  package.json
  yarn.lock
Due: format

Remove google analytics plugin, improve variables
  gatsby-config.ts
Due: lint, format

Fix typing issues
  src/components/Icons/Strava/Strava.tsx
  src/components/ResumeBoard/ResumeCard.tsx
Due: lint, format

Add pre-requisites Add TODO list Add Production build Improve sentences
  README.md
Due: format

Integrate theme provider
  .storybook/preview.js
Due: lint, format

Upgrade storybook
  package.json
  yarn.lock
Due: format

Improve Main technology stack section
  README.md
Due: format

Indent html
  src/components/Layout/Header/Header.tsx
Due: lint, format

Fix formatting
  README.md
Due: format

Update translations
  src/locales/en/translation.json
  src/locales/pt/translation.json
Due: format

Move and rename script
  scripts/extract-translations.js
Due: lint, format

Fix linting issues
  gatsby-browser.tsx
Due: lint, format

Improve lint and trans scripts
  package.json
Due: format

Improve file ignoring
  .eslintignore
  .eslintrc.js
Due: lint, format

Improve command syntax
  lefthook.yml
Due: format

Improve typecheck trigger
  lefthook.yml
Due: format

Integrate theme switching
  src/components/ResumeBoard/ResumeCard.tsx
Due: lint, format

Improve theme integration
  src/components/Sections/About/About.tsx
  src/components/Sections/Contact/Contact.tsx
  src/components/Sections/Resume/Resume.tsx
  src/components/Sections/SectionTemplate/SectionTemplate.tsx
  src/pages/index.tsx
  src/styles/overrides.ts
  src/styles/theme.ts
Due: lint, format

Rotate moon icon
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
Due: lint, format

Integrate local storage
  src/context/ThemeContext.tsx
Due: lint, format

Add stats.json
  .gitignore
Due: none

Add bundle analyser
  gatsby-config.ts
Due: lint, format

Convert from js to typescript
  .storybook/DocsContainer.tsx
  .storybook/i18next.ts
  .storybook/preview.tsx
  i18n-config.js
  i18n-config.ts
Due: lint, format

Add build time env to build script
  package.json
  yarn.lock
Due: format

Update TODO
  README.md
Due: format

Set resolveJsonModule true
  tsconfig.json
Due: format

Fix linting issues
  src/components/FullScreenMenu/FullScreenMenu.stories.tsx
  src/components/Icons/BurgerMenu/BurgerMenu.stories.tsx
  src/components/Icons/BurgerMenu/BurgerMenu.tsx
  src/components/Icons/Discord/Discord.stories.tsx
  src/components/Icons/Discord/Discord.tsx
  src/components/Icons/LinkedIn/LinkedIn.stories.tsx
  src/components/Icons/LinkedIn/LinkedIn.tsx
  src/components/Icons/Strava/Strava.stories.tsx
  src/components/Icons/Strava/Strava.tsx
  src/components/NavLink/NavLink.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/under-construction.tsx
  src/styles/theme.ts
Due: lint, format

Add types
  src/types/images.d.ts
  src/types/mui.d.ts
Due: lint, format

Add build timestamp
  src/components/Layout/Footer/Footer.tsx
Due: lint, format

Update resume data
  src/components/ResumeBoard/resume-data.ts
Due: lint, format

Add browser monads
  src/components/ScrollTop/ScrollTop.tsx
  src/hooks/useBlockScroll/useScrollBlock.ts
  src/hooks/useBotFilter/useBotFilter.ts
Due: lint, format

Improve dev scripts
  scripts/.gitignore
  scripts/babel-i18n.js
  scripts/extract-translations.js
  scripts/verify-translations.js
Due: lint, format

Update dependencies
  .tool-versions
  package.json
  yarn.lock
Due: format

Add SeoMetaData query type
  src/types/queries.d.ts
Due: lint, format
